<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="css/listar.css">
    <!-- MATERIAL SYMBOLS & ICONS  -> https://fonts.google.com/icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header>
        <h1>Gerenciador de Tarefas</h1>
        <nav>
            <button onclick="location.href='/novo'">Nova Tarefa</button>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Data de Entrega</th>
                    <th>Prioridade</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <!-- Botões disponíveis 
                
                <button class="material-symbols-outlined play_circle" title="Definir como Iniciada" onclick="location.href='/iniciar-tarefa/ID'">play_circle</button>
                <button class="material-symbols-outlined delete" title="Definir como Cancelada" onclick="location.href='/deletar-tarefa/ID'">delete</button>
                <button class="material-symbols-outlined edit" title="Editar tarefa" onclick="location.href='/editar-tarefa/ID'">Edit</button>
                <button class="material-symbols-outlined done_outline" title="Definir como Finalizada" onclick="location.href='/finalizar-tarefa/ID'">>done_outline</button>
                
                FIM Botões disponíveis -->
                
                <%  if(listaTarefas){ 
                    listaTarefas.forEach((tarefa)=>{ %>
                        <tr>
                            <td><%= tarefa.titulo %> </td>
                            <td><%= moment(tarefa.data_entrega).format( 'DD/MM/YYYY') %></td>
                            <td><%= tarefa.prioridade %></td>
                            <td>
                                <button class="material-symbols-outlined edit" title="Editar tarefa" onclick="location.href='/editar-tarefa?id=<%= tarefa.id %>'">Edit</button>
                            </td>
                            <td>
                                <button class="material-symbols-outlined delete" title="Definir como Cancelada" onclick="location.href='/deletar-tarefa?id=<%= tarefa.id %>'">delete_forever</button>
                            </td>                                
                            <td class="grade">
                                <%
                                    if(tarefa.situacao == 'pendente' ){
                                %>  
                                <span class="situacao <%= tarefa.situacao %>"><%= tarefa.situacao %></span>
                                <div>
                                    <button class="material-symbols-outlined play_circle" title="Definir como Iniciada" onclick="location.href='/iniciar-tarefa?id=<%= tarefa.id %>'">play_circle</button>
                                    <span>Iniciar</span>
                                    </div>             
                                    <%
                                }
                                if(tarefa.situacao == 'iniciada' ){
                                %>
                                <span class="situacao <%= tarefa.situacao %>"><%= tarefa.situacao %></span>
                                <div>
                                    <button class="material-symbols-outlined done_outline" title="Definir como Finalizada" onclick="location.href='/finalizar-tarefa?id=<%= tarefa.id %>'">done_outline</button>
                                    <span>Finalizar</span>
                                    </div>   
                                    <%
                                }
                                if(tarefa.situacao != 'cancelada' && tarefa.situacao != 'finalizada'  ){
                                    %>   
                                    <div>
                                        <button class="material-symbols-outlined cancel" title="Definir como Cancelada" onclick="location.href='/cancelar-tarefa?id=<%= tarefa.id %>'">cancel</button>
                                        <span>Cancelar</span>
                                        </div>
                                        <%
                                    }else{
                                        %>                                         
                                        <span class="situacao <%= tarefa.situacao %>"><%= tarefa.situacao %></span>
                                        <%
                            }
                                %>   

               
                            </td>
                        </tr>
                        
            <%      });
                }else { %>
                    <tr colspan="5">
                        <td>Não temos tarefas registradas!</td>
                    </tr>    
            <%  } %>
                
            </tbody>
        </table>

        <!-- Paginação -->
        <div class="pagination">
            <a href="#" class="page-btn">«</a>
            <a href="#" class="page-btn active">1</a>
            <a href="#" class="page-btn">2</a>
            <a href="#" class="page-btn">3</a>
            <a href="#" class="page-btn">»</a>
        </div>
    </main>
</body>

</html>